# Eksplorative metoder og tidsserier

**Formål**
- Kunne arbejde med tidsserier
- Visualisere tidsserier på forskellig vis
- Bruge forskellige visualiseringer
- Brug af anomaly detection til at udforske interessante punkter i data

**Indhold**
  - Introduktion til visualisering med plotnine
  - Overvejelser ved visualiseringer (Andy Kirk)
  - At arbejde med tidsserier i pandas
    - Tidsindeksering og datetime
    - Grupperinger på tid
    - Kombination af data på tid
    - Windows/rolling (https://pandas.pydata.org/pandas-docs/stable/user_guide/window.html#window-numba-engine)
      - "Rullende" udregninger baseret på tidligere observationer - gode til at visualisere trends i tidsserier, da outliers ikke skaber store udsving i visualiseringen
- Anomaly detection: https://www.datatechnotes.com/2020/05/anomaly-detection-with-kmeans-in-python.html

**Moduler?**
- Introduktion
- Overvejelser om visualiseringer
- Introduktion til visualiseringer med plotnine
- At arbejde med tidsserier i pandas
- Udforskning af tidsserier med visualiseringer
- Udforskning af tidsserier med anomaly detection

**Data**
- Intro til visualisering: ESS18
    - Øvelse: ESS18
- Tidsserier: Aktiedata og reddit-data
    - Øvelse: Reddit-data
- Tidsserier og visualieringer: Aktiedata og twitter-data
    - Øvelse: Reddit-data
- Tidsserier og anomaly detection: Aktiedata og twitter-data
    - Øvelse: Reddit-data

In [38]:
import pandas as pd
import os

data_path = os.path.join("D:/", "data", "eikon")

tweetdata_url = "https://raw.githubusercontent.com/CALDISS-AAU/course_ddf/master/datasets/poltweets_sample.csv"
tweets_df = pd.read_csv(tweetdata_url)

redditdata_url = "https://raw.githubusercontent.com/CALDISS-AAU/course_ddf/master/datasets/reddit_rdenmark-comments_01032021-08032021_long.csv"
reddit_df = pd.read_csv(redditdata_url)

ess2018 = pd.read_csv("https://github.com/CALDISS-AAU/course_ndms-I/raw/master/datasets/ESS2018DK_subset.csv")

maersk_df = pd.read_csv(os.path.join(data_path, "maerskb_price-history_01072021-01092021.csv"))

In [40]:
maersk_df.head()

,Local Date,Local Time,Close,Net,%Chg,Open,Low,High,Volume
0,2021-09-01 10:30:00,2021-09-01 10:30:00,18040,-5.0,-0.000277,18055,18015,18080,709
1,2021-09-01 10:00:00,2021-09-01 10:00:00,18045,35.0,0.001943,18025,17985,18120,1144
2,2021-09-01 09:30:00,2021-09-01 09:30:00,18010,140.0,0.007834,17975,17920,18080,2030
3,2021-08-31 17:00:00,2021-08-31 17:00:00,17870,80.0,0.004497,17790,17500,17870,55188
4,2021-08-31 16:30:00,2021-08-31 16:30:00,17790,-45.0,-0.002523,17835,17790,17880,2051

In [42]:
from plotnine import ggplot, geom_point, aes, stat_smooth, facet_wrap